<div class="small-10 medium-5 small-offset-2 medium-offset-0 columns shuttle_passengers">
  <% @shuttle_data.legs[ i ].driver_ids.each do |driver_id| %>
    <span class="button round success driver-button"><%= link_to fa_icon("remove") + " " + Driver.find_by_id(driver_id).fullname_id, job_remove_shuttle_passenger_path(:id => @job.id, :count => i.to_s, :driver_id => driver_id), remote: true %></span><br>
  <% end %>
</div>
