<h2>Auftragszusammenfassung:</h2>
<div id="job_details">
  <table>
    <tr><td>Fahrername:</td><td><span id="drivername"></span></td></tr>
    <tr><td>Startpunkt:</td><td><span id="from"></span></td></tr>
    <tr><td>Endpunkt:</td><td><span id="to"></span></td></tr>
    <tr><td>Kostenstelle:</td><td><span id="cost-center"></span></td></tr>
    <tr><td>Fahrzeugmarke:</td><td><span id="car_brand"></span></td></tr>
    <tr><td>Fahrzeugtype:</td><td><span id="car_type"></span></td></tr>
    <tr><td>Kennzeichen:</td><td><span id="registration_number"></span></td></tr>
    <tr><td>Abholdatum:</td><td><span id="scheduled_collection_time"></span></td></tr>
    <tr><td>Lieferdatum:</td><td><span id="scheduled_delivery_time"></span></td></tr>
  </table>
</div>
