<% if @job.shuttle? %>
  <ul class="tabs" data-tab>
    <li class="tab-title"><a href="#general">Allgemein</a></li>
    <li class="tab-title active"><a href="#shuttle">Shuttlestops</a></li>
  </ul>
  <div class="tabs-content">
<% end %>
  <%=render "new_general" %>
</div>
