<h1>Folgene Fahrer wahren im <%= @date_string %> aktiv</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
  <% @drivers.each do |driver| %>
    <tr>
      <td>
        <%= link_to( driver.fullname, get_overtimes_for_driver_path( date: @date, driver_id: driver[:id] )) %><br>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

