<p>Guten Tag <%= @resource.first_name + " " + @resource.last_name %>!</p>

<p><%= t("mail.password_reset")%></p>

<p><%= link_to t("mail.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn Sie diese Mail nicht beantragt haben, ignorieren Sie sie.</p>
<p><%= t("mail.password_not_changed")%></p>
