<p>Guten Tag <%= @resource.first_name + " " + @resource.last_name %>!</p>

<p>Die zurücksetzung ihres Passwortes wurde beantragt.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn Sie diese Mail nicht beantragt haben, ignorieren Sie sie.</p>
<p>Ihr Passwort wird nicht verändert.</p>
