<p>Guten Tag <%= @resource.first_name + " " @resource.last_name %>!</p>

<p><%= t("mail.wrong_sign_in")%></p>

<p><%= t("mail.open_again")%></p>

<p><%= link_to t("mail.open_account"), unlock_url(@resource, unlock_token: @token) %></p>
