<p>Guten Tag <%= @resource.first_name + " " @resource.last_name %>!</p>

<p>Es gab mit ihrem Account eine Reihe von missglückten Anmeldeversuchen und er wurde daher gesperrt.</p>

<p>Über den untenstehenden Link können Sie ihren Account wieder öfnen:</p>

<p><%= link_to 'Account öffnen', unlock_url(@resource, unlock_token: @token) %></p>
